body {
  background-color: #24273a;
  color: #cad3f5;
  font-family: Courier;
  font-size:large;
} 

a {
  outline-color: transparent;
}

a:link {
  color: #9baffd;
}

a:visited {
  color: #c6a0f6;
}

a:focus {
  text-decoration: none;
  background: #8087a2;
}

a:hover {
  text-decoration: none;
  background: #363a4f;
}

a:active {
  background: #b7bdf8;
  color: #363a4f;
}

h1 {
    text-align: center;
}
h2  {
  text-align: center;
}
